@font-face {
    font-family: "Helvetica Neue";
    src: url("../fonts/HelveticaNeue.ttf");
    font-style: normal;
}

@font-face {
    font-family: "Raleway Medium";
    src: url("../fonts/Raleway-Medium.ttf");
    font-style: normal;
}

@font-face {
    font-family: "Raleway ExtraBold";
    src: url("../fonts/Raleway-ExtraBold.ttf");
    font-style: normal;
}

@font-face {
    font-family: "Lato";
    src: url('../fonts/Lato-Regular.ttf');
    font-style: normal;
}

@font-face {
    font-family:'Manrope';
    src: url('../fonts/Manrope-Regular.ttf');
    font-style: normal;
}