// Main color

$btn-base-color: #d91646;
$placeholder-color: #b3adad;
$phone-color: #332e2e;
$font-base-color: #f3f2f2;
$input-border-color: #b3adad;
$header-border-color: #dcdbda;
// font weight

$base-font-weight: 100;
